body, main {
    margin: 0;
    width: 100%;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    background-color: rgb(33, 33, 33);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

.xandcoins {
    position: absolute;
    top: 10%;
    right: 1%;
    margin: 0px;
    display: flex;
    flex-direction: row;

    & p {
        color: greenyellow;
        font-family: 'Courier New', Courier, monospace;
        font-size: 2rem;  
        margin: 0px; 
    } 

    & img {
        height: 2rem;
        margin-left: 2%;
    }
}

#spawning-area {
    background-image: url("../../images/planalto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin: 1%;

    border: 3px dashed rgb(8, 139, 25);
}

#lula {
    height: clamp(70px, 12%, 150px);
    width: clamp(70px, 12%, 150px);
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: #00000000;

    & img {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        
        object-fit: cover;
        border: 2px dotted black;
    }
}

.title {
    text-align: center;

    & span {
        color: rgb(132, 240, 128);
    }
}