:root {
    --tc: lightblue;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;

    display: flex;
    flex-direction: column;
}
#canvas {
    width: 800px;
    height: 450px;
    margin: auto;
}
#terminal {
    z-index: 1;
    width: inherit;
    height: 3%;
    font-size: 1rem;
    color: var(--tc);
    position: absolute;
    background-color: rgba(16, 16, 16, 50)
}

#win {
    width: 50%;
    height: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    margin: auto;
    display: flex;
    flex-direction: column;

    & span {
        margin: auto;
        color: white;
        height: 90%;

        & .bolso {
            color: greenyellow
        }

        & .enche {
            color: orange;
        }
    }

}

button {
    height: 10%;
    border: 1px solid white;
    background-color: #161616;
    color: wheat;
}

#canvas {
    display: flex;
    flex-direction: column;
}

.lore {
    /* margin: 5%; */
    max-width: 80%;
    margin: auto;

    & h3 {
        font-size: 1.25rem;
        margin: 0px;
        & span {
            color: greenyellow;
        }
    }
    
    & p {
        font-size: 1rem;
    }
    & h2 {
        width: fit-content;
        margin: 0px 1px auto auto;
        font-weight: 1000;
        font-size: 2rem;
        color: salmon;
    }
}

.xandcoins {
    position: absolute;
    top: 10%;
    right: 1%;
    margin: 0px;
    display: flex;
    flex-direction: row;

    & p {
        color: greenyellow;
        font-family: 'Courier New', Courier, monospace;
        font-size: 2rem;  
        margin: 0px; 
    } 

    & img {
        height: 2rem;
        margin-left: 2%;
    }
}